
.chart2 {
    margin-left: 10px !important;
    border-radius: 14px !important;
}
.chart{
    margin-top: 10px!important;
    margin-bottom: 10px !important;
    /* border-radius: 14px !important; */

}
.margin{
    margin-top: 5rem !important;
}
.gap{
    gap: 1rem !important;
}
.margin_b{
    margin-bottom: 1rem !important;
}